@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
body { font-family: 'Roboto';}

* {
    padding: 0;
    margin: 0;
}
#div2{
  display: none;
}
#div3{
  display: none;
}
.res {
    width: 75%;
    margin: auto;
}


.header1 {
    height: auto;
    width: auto;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-color: rgb(82, 82, 82);
}

.menu1 li {
    margin: 10px;
}

.feed {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    margin: 4vh;
}

.imgcont {
    width: 50%;
    height: auto;
    margin: 0 auto;
}

.line {
    position: relative;
    width: 25px;
    height: 24px;
    margin: auto;
}

.line img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.line::before {
    width: 150%;
    padding: 1px 0;
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    background-color: lightgray;
    transform: translateX(-110%);
    z-index: 5;
}

.line::after {
    width: 150%;
    padding: 1px 0;
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    background-color: lightgray;
    transform: translateX(80%);
    z-index: 5;
}
.cab{
	font-size: 16px;
	font-family: Roboto;

}

/*
footer
*/

:target{
    background-color: #1d7a8c;
    color: white;
}
.btn:hover{
    background-color: #1d7a8c;
    color: white;
}
.target{
    color: black;
}
.target:hover{
    color: white;
}
#target1{
    color: white;
}
hr {
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}


.word{
    text-align: left;
    letter-spacing: 0px;
   color: #4F4F4F;
   font-size: 14px;
}
.finalword{
    color: #4F4F4F;
    opacity: 1;
}
.payments{
    letter-spacing: 0px;
color: #1D7A8C;
opacity: 1;
}
.dolr{
color: #1D7A8C;
opacity: 1;
font-size: 35px;
 font-weight: bold;
}
.finalprice{
    color: #4F4F4F;
    opacity: 1;
    font-size: 18px;
}
.accordion {
  background-color: white;
  color: #4F4F4F;
  cursor: pointer;
  padding: 20px ;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 13px;
  transition: 0.4s;
  border-bottom: 1px solid #DCDCDC;
}



.accordion:after {
  content: '\003E';
  color: #777;
  padding-right: 5px;
  font-weight: bold;
  float: left;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.hat{
  padding: 18px 14px;
  border: solid 1px #aaa;
  border-radius: 100px;
  background-color: white;
}
#house{
  max-width: 50%;   
}
@media screen and (max-width: 769px) {
    #total{
      display: none;
    }
    #house{
      margin-left: 0px;
      max-width: 50%;
    }
}
  ul {
  list-style-type: none;
}

li {
  display: inline-block;
}

input[type="checkbox"][id^="cb"] {
  display: none;
}

label {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 50%;
  display: block;
  position: relative;
  margin: 20px;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

label::before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid grey;
  position: absolute;
  top: -5px;
 left: -5px;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}

label img {
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}

:checked+label {

  border: 3px solid #1d7a8c;
}



:checked+label img {
  transform: scale(0.9);
  box-shadow: 0 0 5px #1d7a8c;;
  z-index: -1;
  color: white;
}



a {
    color: #71748d
}

a:hover {
    color: #ff407b;
    text-decoration: none
}


.lead {
    font-size: 1.25rem;
    font-weight: 300;
    color: #3d3f5d
}

.active:after {
    content: "";
}
.tab-regular .nav.nav-tabs {
    border-bottom: transparent
}

.tab-regular .nav.nav-tabs .nav-item {}

.tab-regular .nav.nav-tabs .nav-link {
    display: block;
    padding: 10px ;
    color: #71748d;
    background-color: #dddde8;
    margin-right: 5px;
    border-color: #dddde8
}

.tab-regular .nav-tabs .nav-link.active {
    background-color: #fff;
    border-color: #e6e6f2 #e6e6f2 #fff;
    color: #5969ff
}

.tab-regular .tab-content {
    background-color: #fff;
    
}
.footer{
  background-color: #111111;
  padding-top: 5px;

}
.footer ul{
  margin-top: 1rem;
}
.footer ul li a{
  font-size: 14px;
}

.social-media{
  text-align: center;
  display: flex;
  margin: auto;
}
  ul{
  margin: 0px;
}
ul li{
  list-style: none;
  display: inline-block;


}
ul li a {
color :  #fff;
padding :  15px 17px;
font-size: 17px;
font-weight: normal;

}
.card-atm .form-control {
  border: none;
  box-shadow: none
}

.form-select {
  border-radius: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px
}